.block {
  display: block; /* Hace que los elementos ocupen todo el ancho disponible */
  background-color: lightblue; /* Color de fondo para diferenciarlos */
  margin: 10px 0; /* Espacio entre los elementos */
  padding: 10px; /* Espacio dentro del div */
  width: 200px; /* Define un ancho del 50% para ver su comportamiento */
}

.inline {
  display: inline;
  background-color: indianred;
  padding: 5px;
}

.inline-block {
  display: inline-block;
  width: 150px; /*ancho*/
  /*height: 100px; alto*/
  margin: 5px;
  padding: 10px;
  background-color: blue;
}

.flex-container {
  display: flex;
  flex-direction: column; /*modifica el comportamiento de flex por defecto*/
  background: blue;
  padding: 5px;
  align-items: center; /*align items solo funciona si esta flex direction*/
  gap: 10px; /*espacio entre los elementos cuando esta el flex*/
  width: 300px;
}

.flex-item {
  background-color: blue;
  padding: 10px;
  margin: 5px;
}

h1 {
  font-weight: bold; /* Hace las letras más gruesas */
  color: aqua; /* Cambia el color del texto a blanco */
}
.h2 {
  text-align: center;
}

.boton {
  width: 250px;
  height: 40px;
}
.final {
  color: aqua;
  display: inline-block;
}
