.block {
display: block;
width: 200px;
background-color: lightblue;
padding: 10px;
margin: 10 px 0;
}
.inline{
display: inline;
background-color: lightcoral;
padding: 5px;
}

/*inline block nos permite modificar el ancho y el alto del contenedor a diferencia del inline*/
.inline-block {
display: inline-block;
width: 150px;
background-color: lightgreen;
padding: 10px;
margin: 5px;
}

.flex-container{
display: flex;
justify-content: space-between;
background-color: lightgray;
padding: 5px;
}

.flex-item{
background-color: skyblue;
padding: 10px;
margin: 5px;
}